:root {
  --big-title-size: 2.3em;
  --title-size: 1.5em;
  --text-size: 1em;
  --small-text-size: 0.7em;

  --title-font-family: "Mooli", sans-serif;
  --text-font-family: "Varta", sans-serif;
}

body {
  margin: 0;
  font-family: var(--text-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
