.content {
  .title {
    text-align: center;
  }

  .user-select {
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
  }

  .issues {

    .issue {
      display: flex;
      margin: 2em;
      cursor: pointer;

      .content {
        display: flex;
        gap: 2em;

        .score {
        }

        .body {
          .title {
            text-align: left;
          }

          .details {
          }

          .labels {
            display: flex;
          }
        }
      }
    }
  }
}
