.warning {
  color: red;
}

.link {
  text-decoration: none;
}

.content {
  font-size: var(--text-size);
  font-family: var(--text-font-family);

  .hero {
    height: 50vh;
    display: flex;
    align-items: center;
    background: url("../../assets/background.jpg");
    background-size: cover;

    .title {
      font-size: var(--title-size);
      font-family: var(--title-font-family);
      margin: 0 2.5em;
    }

    .accent {
      font-size: var(--big-title-size);
    }
  }

  .user-select {
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
    margin: 2em 4em;

    .label,
    .menu-item,
    .selector {
      font-family: var(--text-font-family);
    }

    .selector {
      width: 25%;
    }
  }

  .issues {
    margin: 0 4em;

    .issue {
      display: flex;
      cursor: pointer;
      transition: transform 0.2s ease-in-out;
      margin-bottom: 2em;

      .content {
        display: flex;
        gap: 2em;

        .score {
          display: flex;
          align-items: center;
          font-size: var(--title-size);
        }

        .body {
          padding: 0 1em;

          .title {
            font-size: var(--title-size);
            font-family: var(--title-font-family);
          }

          .details {
            color: gray;
          }

          .labels {
            display: flex;
            gap: 1em;
            margin-top: 0.5em;

            .label {
              font-size: var(--small-text-size);
              padding: 0.7em;
              border-radius: 0.5em;
            }
          }
        }
      }
    }
  }

  .issue:hover {
    transform: scale(1.02);
  }
}
